body {
  background-color: black;
  font-size: 1.5rem;
  padding: 4%;
}

body > div {
  padding: 0;
}

h1,
h2,
p:not(#link-to-test),
a:not(#link-to-test),
pre,
details,
summary,
span {
  color: antiquewhite;
}

#link-to-test {
  margin: 0;
  color: darkblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.flex {
  display: flex;
}

.div-wrap-1 {
  display: flex;
  justify-content: center;
}

#intro {
  text-align: center;
}

.bordered-div {
  height: fit-content;
  width: fit-content;
  border: 2px solid cornsilk;
  border-radius: 5px;
  margin: 3rem auto;
  padding: 0.5rem; /* optional for spacing */
  text-align: center; /* optional for center text */
  transition: transform 0.2s; /* optional hover effect */
  cursor: pointer;
  background-color: bisque;
}

.bordered-div-2 {
  height: fit-content;
  width: fit-content;
  border: 2px solid cornsilk;
  border-radius: 5px;
  padding: 0.2rem; /* optional for spacing */
  text-align: center; /* optional for center text */
  transition: transform 0.2s; /* optional hover effect */
  cursor: pointer;
  background-color: bisque;
}

.bordered-div:hover {
  transform: scale(1.05);
}

.test-page-center {
  text-align: center;
}

.underliner {
  text-decoration: underline;
}

img {
  max-width: 300px;
  display: block;
  margin-bottom: 1rem;
}
#googleMapLink {
  color: lightblue;
}

pre {
  white-space: pre-wrap; /* allow wrapping */
  word-wrap: break-word; /* break long words */
  overflow-x: auto; /* horizontal scroll if needed */
  max-width: 100%; /* don’t overflow container */
}

.mt {
  margin-top: 1rem;
}

.border-boy {
  margin-top: 0.5rem;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.2rem;
  background-color: white;
}

input {
  font-size: large;
  width: fit-content;
}

output {
  width: fit-content;
  padding: 0.2rem;
}
