body {
  background-color: black;
  font-size: 1.5rem;
  padding: 6%;
}

h1,
h2,
p,
a,
pre {
  color: antiquewhite;
}

.div-wrap-1 {
  display: flex;
  justify-content: center;
}

#intro {
  text-align: center;
}

.bordered-div {
  height: auto;
  width: fit-content;
  border: 2px solid cornsilk;
  border-radius: 5px;
  margin: 3rem auto;
  padding: 1rem; /* optional for spacing */
  text-align: center; /* optional for center text */
  transition: transform 0.2s; /* optional hover effect */
  cursor: pointer;
}

.bordered-div:hover {
  transform: scale(1.05);
}

.test-page-center {
  text-align: center;
}

.underliner {
  text-decoration: underline;
}

img {
  max-width: 300px;
  display: block;
  margin-bottom: 1rem;
}
#googleMapLink {
  color: lightblue;
}

pre {
  white-space: pre-wrap; /* allow wrapping */
  word-wrap: break-word; /* break long words */
  overflow-x: auto; /* horizontal scroll if needed */
  max-width: 100%; /* don’t overflow container */
}
